[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
puppet = "8QJnsFS5EDRFtERd2tRVvdLD2h1Ze3iXRPdmkMEqP7T2"
puppet_master = "D1ngLJ1DdNvYFLfQTQoPozU5tps3Y8EkepB5oP84BEfF"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
